module.exports = {
  apps: [
    {
      name: "{{domain}}",
      script: "n8n",
      watch: false,
      env: {
        "N8N_HOST": 'localhost',
        "N8N_PORT": '{{node_port}}',
        "N8N_PROTOCOL": 'http',
        "NODE_ENV": '{{node_env}}',
        "N8N_EDITOR_BASE_URL": 'https://{{domain}}/'
      },
      autorestart: true
    }
  ]
};